@import "variables/index";
@import "reset";
@import "mixins/index";
@import "componets/index";
@import "ui/index";
//@import "pages/index";

html {
  font-family: 'HelveticaNeueCyr', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

:root {
  --primary-color: #202020
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.my {

}
