@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block; }

body {
	line-height: 1; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

.container {
	padding: 0 12px; }

@media screen and (min-width: 1024px) {
	.container {
		padding: 0 16px; } }

@media screen and (min-width: 1920px) {
	.container {
		padding: 0;
		width: 1600px;
		margin: auto; } }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-Roman.eot");
	src: local("HelveticaNeueCyr-Roman"), url("/src/assets/fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-Black.eot");
	src: local("HelveticaNeueCyr-Black"), url("/src/assets/fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-BlackItalic.eot");
	src: local("HelveticaNeueCyr-BlackItalic"), url("/src/assets/fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-Bold.eot");
	src: local("HelveticaNeueCyr-Bold"), url("/src/assets/fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-BoldItalic.eot");
	src: local("HelveticaNeueCyr-BoldItalic"), url("/src/assets/fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-Heavy.eot");
	src: local("HelveticaNeueCyr-Heavy"), url("/src/assets/fonts/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Heavy.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Heavy.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-Italic.eot");
	src: local("HelveticaNeueCyr-Italic"), url("/src/assets/fonts/HelveticaNeueCyr-Italic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Italic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-Light.eot");
	src: local("HelveticaNeueCyr-Light"), url("/src/assets/fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-LightItalic.eot");
	src: local("HelveticaNeueCyr-LightItalic"), url("/src/assets/fonts/HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-Medium.eot");
	src: local("HelveticaNeueCyr-Medium"), url("/src/assets/fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-MediumItalic.eot");
	src: local("HelveticaNeueCyr-MediumItalic"), url("/src/assets/fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-Thin.eot");
	src: local("HelveticaNeueCyr-Thin"), url("/src/assets/fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-UltraLight.eot");
	src: local("HelveticaNeueCyr-UltraLight"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: auto; }

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url("/src/assets/fonts/HelveticaNeueCyr-UltraLightItalic.eot");
	src: local("HelveticaNeueCyr-UltraLightItalic"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
	font-display: auto; }

.header__top {
	background: var(--primary-color);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
	gap: 20px;
	padding: 0 12px; }

.header__left {
	display: flex;
	gap: 56px; }

.header__logo {
	width: 205px; }
@media screen and (min-width: 1024px) {
	.header__logo {
		width: 242px; } }

.header__middle {
	display: none;
	gap: 32px;
	flex-grow: 1; }

.header__inner {
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;
	gap: 55px; }

.header__search-mobile {
	width: 16px;
	height: 16px; }

.header__burger {
	width: 24px;
	height: 8px;
	display: flex;
	cursor: pointer; }

.header__links {
	display: flex;
	gap: 12px; }

.header__link {
	width: 36px;
	height: 36px;
	background-color: var(--primary-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center; }
.header__link img {
	width: 16px;
	height: 16px; }

.header__tel {
	display: flex;
	flex-direction: column;
	gap: 8px; }

.header__tel-number {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	color: var(--primary-color);
	text-decoration: none;
	white-space: nowrap; }

.header__tel-info {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #636363; }

.header__search {
	display: flex;
	align-items: center;
	max-width: 757px;
	width: 100%;
	height: 48px;
	position: relative; }
.header__search input {
	width: 100%;
	border: none;
	outline: 1px solid var(--primary-color);
	padding: 16px 48px 16px 16px; }

.header__search-label {
	flex-grow: 1; }

.header__search-btn {
	background-color: transparent;
	border: 0;
	padding: 0;
	position: absolute;
	right: 16px;
	cursor: pointer; }

.header__search-icon {
	width: 16px;
	height: 16px; }

@media screen and (min-width: 1024px) {
	.header__top {
		padding: 0 16px; }
	.header__inner {
		margin-top: 32px; }
	.header__links {
		gap: 24px; } }

@media screen and (min-width: 1024px) {
	.header__burger {
		display: none; }
	.header__search-mobile {
		display: none; }
	.header__middle {
		display: flex; } }

.button {
	min-height: 48px;
	background: #FFFFFF;
	border: 1px solid #D2D2D2;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px; }

.logo {
	display: flex;
	gap: 12px;
	align-items: center; }
.logo__image {
	height: 21px;
	width: 21px; }
.logo__image img {
	width: 100%;
	height: 100%; }
.logo__text {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 19.7353px;
	line-height: 24px;
	letter-spacing: 0.1em; }

@media screen and (min-width: 1024px) {
	.logo {
		gap: 20px; }
	.logo__image {
		height: 30px;
		width: 30px; }
	.logo__text {
		font-size: 32.8382px;
		line-height: 40px; } }

@media screen and (min-width: 1920px) {
	.logo {
		gap: 24px; }
	.logo__image {
		height: 36px;
		width: 36px; }
	.logo__text {
		font-size: 39.2292px;
		line-height: 48px; } }

.breadcrumbs {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 36px;
	gap: 4px; }
.breadcrumbs__link {
	font-style: normal;
	font-weight: normal;
	color: var(--primary-color);
	white-space: nowrap; }
.breadcrumbs__link:not(:first-child):before {
	content: "/"; }
.breadcrumbs__link:last-child {
	color: #BCBCBC; }

@media screen and (min-width: 1024px) {
	.breadcrumbs {
		margin-top: 48px; } }

@media screen and (min-width: 1920px) {
	.breadcrumbs {
		margin-top: 24px; } }

.body-1 {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px; }

.body-2 {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600; }

.subtitle {
	font-size: 14px;
	line-height: 21px; }

.h1 {
	font-weight: 600;
	font-size: 48px;
	line-height: 54px; }

.h5 {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px; }

.button-1 {
	font-weight: 550;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.08em;
	text-transform: uppercase; }

.filters {
	max-width: 320px;
	width: 100%; }

.filters__controls {
	margin-bottom: 15px; }

.filters__btn {
	margin-top: 24px;
	color: var(--primary-color);
	text-transform: uppercase;
	border: 0;
	padding: 0;
	outline: 0;
	background-color: transparent; }

.filters__checkboxes {
	display: flex;
	flex-direction: column;
	gap: 8px; }

.filters__controls {
	display: flex;
	gap: 14px; }
.filters__controls .filters__control-item {
	cursor: pointer; }

.svg-white {
	fill: white; }

.svg-primary {
	fill: var(--primary-color); }

.svg-grey {
	fill: #E9E9E9; }

.catalog__content {
	display: flex;
	gap: 88px; }

@media screen and (max-width: 1024px) {
	.catalog__filters {
		display: none; } }

.catalog__header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px; }
@media screen and (min-width: 1024px) {
	.catalog__header {
		flex-direction: row; } }

.catalog__breadcrumbs {
	margin-bottom: 27px; }
@media screen and (min-width: 1024px) {
	.catalog__breadcrumbs {
		margin-bottom: 24px; } }

.catalog__controls {
	display: grid;
	align-items: center;
	gap: 16px;
	grid-template-columns: 1fr; }
@media screen and (min-width: 768px) {
	.catalog__controls {
		grid-template-columns: 1fr 1fr; } }
@media screen and (min-width: 1024px) {
	.catalog__controls {
		grid-template-columns: none; } }

@media screen and (min-width: 1024px) {
	.catalog__filter-btn {
		display: none; } }

.catalog__sort {
	display: flex;
	align-items: center;
	gap: 24px; }
.catalog__sort > .select {
	width: 100%; }

@media screen and (max-width: 1024px) {
	.catalog__sort-title {
		display: none; } }

.catalog__items-wrapper {
	margin-top: 46px;
	position: relative; }

.catalog__loader {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.05);
	align-items: center;
	justify-content: center;
	font-size: 3rem; }

.catalog__items_loading + .catalog__loader {
	display: flex; }

.catalog__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
	gap: 16px; }
.catalog__items > div {
	min-height: 200px; }

.catalog__pagination {
	margin: 32px 0;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 16px; }

.catalog__pagination-pages-wrapper {
	display: flex; }

.catalog__pagination-pages {
	display: flex; }

.catalog__pagination-page {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #D2D2D2;
	border-radius: 2px;
	background-color: #fff;
	cursor: pointer;
	transition: background-color 0.5s;
	margin-right: 32px; }
.catalog__pagination-page:hover {
	background-color: rgba(234, 234, 234, 0.5); }
.catalog__pagination-page:not(.catalog__pagination-page:last-of-type) {
	margin-right: 4px; }
.catalog__pagination-page_select {
	border-color: #202020;
	background: #202020;
	color: #FFFFFF;
	transition: background-color 0.5s; }
.catalog__pagination-page_select:hover {
	background-color: #3d3d3d; }

.catalog__pagination-by-one {
	display: flex; }

.catalog__pagination-arrow {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #202020;
	border-radius: 2px;
	cursor: pointer;
	transition: background-color 0.5s; }
.catalog__pagination-arrow:hover {
	background-color: #3d3d3d; }
.catalog__pagination-arrow:not(.catalog__pagination-arrow:last-of-type) {
	margin-right: 4px; }
.catalog__pagination-arrow:last-of-type {
	transform: rotate(180deg); }
.catalog__pagination-arrow[disabled] {
	background: #E9E9E9; }
.catalog__pagination-arrow[disabled]:hover {
	background: #E9E9E9; }

.nav__items {
	display: flex; }

@media (max-width: 1024px) {
	.nav {
		position: relative; }
	.nav_open .nav__items {
		transform: translateX(0); }
	.nav__items {
		padding: 0;
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
		background-color: white;
		transform: translateX(-100%);
		transition: transform 200ms;
		max-width: min(290px, 100vw);
		width: 100%;
		height: 100%;
		z-index: 5; }
	.nav__inner {
		display: none;
		flex-direction: column;
		position: absolute;
		background: white;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 6;
		font-size: 14px;
		line-height: 21px; }
	.nav__control-panel {
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 18px;
		height: 48px; }
	.nav__control-panel svg {
		cursor: pointer; }
	.nav__item {
		padding: 11px 12px;
		border-top: 1px solid #D2D2D2;
		cursor: pointer; }
	.nav__item_open .nav__inner {
		display: flex; }
	.nav__title {
		display: flex;
		align-items: center;
		justify-content: space-between; }
	.nav__title-arrow {
		transform: rotate(90deg); } }

@media (min-width: 1024px) {
	.nav__control-panel {
		display: none; }
	.nav__content {
		position: relative;
		display: flex;
		align-items: center; }
	.nav__content:after {
		content: '';
		display: inline-block;
		width: 1px;
		height: 24px;
		background: #E9E9E9; }
	.nav__content:hover .nav__inner {
		display: flex; }
	.nav__content:hover .nav__title {
		color: #FFCC07;
		border-bottom-color: #FFCC07; }
	.nav__content:hover + .nav__bg {
		display: block; }
	.nav__item {
		position: relative; }
	.nav__item:first-of-type .nav__title {
		padding-left: 0; }
	.nav__item:last-of-type .nav__title {
		padding-right: 0; }
	.nav__item:last-of-type .nav__content:after {
		content: none; }
	.nav__bg {
		display: none;
		background: rgba(32, 32, 32, 0.75);
		position: absolute;
		left: -100vw;
		right: -100vw;
		bottom: -100vh;
		top: 100%;
		z-index: 4; }
	.nav__title {
		padding: 29px 10px 25px;
		border-bottom: 4px solid transparent;
		cursor: pointer; }
	.nav__title-arrow {
		display: none; }
	.nav__inner {
		display: none;
		position: absolute;
		top: 100%;
		padding: 48px;
		background-color: white;
		border: 1px solid;
		flex-direction: column;
		gap: 12px;
		text-align: left;
		min-width: 376px;
		z-index: 7;
		font-weight: 600;
		font-size: 18px;
		line-height: 27px; }
	.nav__subcategory {
		cursor: pointer; } }

.product-card {
	padding: 24px;
	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	border-radius: 2px; }

.product-card__inner {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px; }

.product-card__controls {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between; }
.product-card__controls svg {
	cursor: pointer; }

.product-card__basket_active {
	background: var(--primary-color);
	border-radius: 50%;
	padding: 12px;
	margin-top: -12px;
	margin-right: -12px; }
.product-card__basket_active svg {
	fill: white; }

.product-card__image {
	width: 238px;
	height: 238px;
	object-fit: contain; }

.product-card__description {
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	color: var(--primary-color);
	height: 54px;
	display: -webkit-box;
	text-align: center;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden; }

.product-card__price {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: var(--primary-color); }

.range-el__inputs {
	--dif: calc(var(--max) - var(--min));
	display: grid;
	grid-template: repeat(2, max-content) 1rem/ 1fr 1fr;
	overflow: hidden;
	position: relative;
	margin: 1em auto;
	width: 20rem;
	font-family: ubuntu mono, consolas, monaco, monospace; }
.range-el__inputs::before, .range-el__inputs::after {
	grid-column: 1/ span 2;
	grid-row: 3;
	content: ''; }
.range-el__inputs::before {
	margin-left: calc(0.25rem + (var(--left) - var(--min)) / var(--dif) * 19.5rem);
	width: calc((var(--right) - var(--left)) / var(--dif) * 19.5rem); }
.range-el__inputs::after {
	margin-left: calc(0.25rem + (var(--right) - var(--min)) / var(--dif) * 19.5rem);
	width: calc((var(--left) - var(--right)) / var(--dif) * 19.5rem); }

.range-el__bg-line {
	background: rgba(32, 32, 32, 0.1);
	height: 4px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto; }

.range-el__inputs input[type='range'] {
	grid-column: 1/ span 2;
	grid-row: 3;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
	background: none;
	pointer-events: none; }
.range-el__inputs input[type='range']::-webkit-slider-runnable-track, .range-el__inputs input[type='range']::-webkit-slider-thumb, .range-el__inputs input[type='range'] {
	-webkit-appearance: none; }
.range-el__inputs input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 100%;
	background: none; }
.range-el__inputs input[type='range']::-moz-range-track {
	width: 100%;
	height: 100%;
	background: none; }
.range-el__inputs input[type='range']::-webkit-slider-thumb {
	border: none;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #7C48BF;
	pointer-events: auto; }
.range-el__inputs input[type='range']::-moz-range-thumb {
	border: none;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #7C48BF;
	pointer-events: auto; }

.range-el__outputs {
	display: flex;
	justify-content: space-between;
	padding-right: 20px; }
.range-el__outputs output {
	grid-row: 2; }
.range-el__outputs output:last-child {
	text-align: right; }
.range-el__outputs output::after {
	counter-reset: c var(--c);
	content: counter(c);
	color: var(--color); }

.select {
	min-width: 250px;
	position: relative; }
.select_open .select__inner {
	display: block; }
.select_open .select__icon {
	transform: rotate(0deg); }

.select__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	padding: 11px 12px;
	background: white;
	border: 1px solid #D2D2D2;
	border-radius: 2px;
	cursor: pointer; }

.select__inner {
	display: none;
	position: absolute;
	top: calc(100% + 4px);
	right: 0;
	left: 0;
	background: white;
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	z-index: 9; }

.select__icon {
	transform: rotate(180deg); }

.select__item {
	padding: 12px;
	color: #636363;
	cursor: pointer; }
.select__item:hover {
	background: #E5E5E5;
	color: var(--primary-color); }

.accordion {
	--transition-time: .5s;
	border-top: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
	transition: padding-bottom var(--transition-time); }
.accordion_open {
	padding-bottom: 16px; }
.accordion_open .accordion__icon {
	transform: rotate(0); }

.accordion__title {
	font-weight: 600; }

.accordion__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
	cursor: pointer; }

.accordion__icon {
	transform: rotate(180deg); }

.accordion__inner {
	height: 0;
	max-height: 168px;
	overflow-y: auto;
	overflow-x: hidden;
	transition: height var(--transition-time); }

.accordion__inner {
	padding-right: 2.5px; }
.accordion__inner::-webkit-scrollbar {
	width: 4px; }
.accordion__inner::-webkit-scrollbar-track {
	background-color: #E9E9E9;
	border-radius: 10px; }
.accordion__inner::-webkit-scrollbar-thumb {
	background-color: #636363;
	border-radius: 3px; }

.checkbox {
	--color: #636363;
	display: flex;
	align-items: center;
	gap: 12px; }

.checkbox__native {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden; }
.checkbox__native:checked + .checkbox__box:before {
	content: '✓';
	width: fit-content;
	display: block;
	margin: auto; }

.checkbox__box {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid var(--color);
	border-radius: 2px; }

.checkbox__text {
	color: var(--color); }

html {
	font-family: 'HelveticaNeueCyr', sans-serif; }

body {
	margin: 0;
	overflow-x: hidden; }

:root {
	--primary-color: #202020
; }

*,
*:before,
*:after {
	box-sizing: border-box; }
