.header {
	&__top {
		background: var(--primary-color);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 40px;
		gap: 20px;
		padding: 0 12px;
	}

	&__left {
		display: flex;
		gap: 56px;
	}
	
	&__logo {
		width: 205px;
		
		@media screen and (min-width: 1024px) {
			width: 242px;
		}
	}

	&__middle {
		display: none;
		gap: 32px;
		flex-grow: 1;
	}

	&__inner {
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 8px;
		gap: 55px;
	}

	&__search-mobile {
		width: 16px;
		height: 16px;
	}

	&__burger {
		width: 24px;
		height: 8px;
		display: flex;
		cursor: pointer;
	}

	&__links {
		display: flex;
		gap: 12px;
	}

	&__link {
		width: 36px;
		height: 36px;
		background-color: var(--primary-color);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 16px;
			height: 16px;
		}
	}

	&__tel {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__tel-number {
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 20px;
		color: var(--primary-color);
		text-decoration: none;
		white-space: nowrap;
	}

	&__tel-info {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		color: #636363;
	}

	&__search {
		display: flex;
		align-items: center;
		max-width: 757px;
		width: 100%;
		height: 48px;
		position: relative;

		input {
			width: 100%;
			border: none;
			outline: 1px solid var(--primary-color);
			padding: 16px 48px 16px 16px;
		}
	}

	&__search-label {
		flex-grow: 1;
	}

	&__search-btn {
		background-color: transparent;
		border: 0;
		padding: 0;
		position: absolute;
		right: 16px;
		cursor: pointer;
	}

	&__search-icon {
		width: 16px;
		height: 16px;
	}
}

@media screen and (min-width: 1024px) {
	.header {
		&__top {
			padding: 0 16px;
		}

		&__inner {
			margin-top: 32px;
		}

		&__links {
			gap: 24px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.header {
		&__burger {
			display: none;
		}

		&__search-mobile {
			display: none;
		}

		&__middle {
			display: flex;
		}
	}
}