.body-1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.body-2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  line-height: 21px;
}

.h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
}

.h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.button-1 {
  font-weight: 550;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}